*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.titleContent{
    display: flex;
    flex-flow: row;
    display: flex;
    align-items: center;
    justify-content:center; 
    background-color: tomato;
    color:white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.075em;
    text-align: left;

}

#globe{
    height: 40px;
    width: 40px;
    padding: 10px;
}

.viewDetails{
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    margin: 10px

}

.innerBox{
    display: flex;
    flex-flow: row;
    gap: 20px;
    /* flex-wrap: wrap; */
    margin: 20px
}

span{
    font-size: xx-small;
}

#countryImage{
    height: 180px;
    width: 140px;
    border-radius: 4px;
}

.rowContent{
    display: flex;
    flex-flow: column;
    gap: 2px;
    flex-wrap: wrap;
    margin: 2px
}




#googleMapsUrl{
    display: inline-block;
    margin-left: 3px;
    text-decoration: underline;
    color:lightgray;

}

#touristSite{
    font-weight: bolder;
    font-size: medium;
}

#date{
    font-weight: bold;
}

#locationIcon{
    display: inline-block;
    margin-right: 6px;
    height: 9px;
    width: 7px;
}


@media (min-width: 756px) and (max-width: 640px) {
    
    .innerBox{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      height: 30px;
      
    }

}

hr{
    color:lightgray;
   
    border-top: 0.5px solid #ffffff;

}